.gama{
    color: rgb(71, 84, 100);
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}

.logo{
    width: 85%;
    height: 45px;
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
}

#barra img {
    width: 100%;
    height: auto;
}
.header-text {
    color: rgb(68, 62, 83);
    font-family: fantasy;
    text-align: center;
}
.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.carousel-caption h5 {
    background: rgba(141, 136, 136, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.principal {
    padding: 20px 0;
}
.caja img {
    width: 100%;
    height: auto;
}

.caja p {
    margin-bottom: 15px;
}
.caja-1, .caja-2, .caja-3, .caja-4, .caja-5 {
    margin-bottom: 20px;
}

#barra-dos img {
    max-width: 100%;
    height: auto;
}
.info img {
    width: 40px;
    height: 40px;
}
.info b {
    font-family: sans-serif;
}
.info h6 {
    color: rgb(165, 165, 165);
    font-family: serif;
}
.whatsapp-icon {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-icon img {
    width: 60px;
    height: 60px;
    
}

.coment-icon{
    position: fixed;
    bottom: 120px;
    right: 20px;
    z-index: 1000;
}

.coment-icon img{
    width: 60px;
    height: 60px;
}

.comentario-form {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 100px;
    background-color: rgb(232, 248, 253);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1001;
}

.container{
    color: rgb(93, 126, 141);
    font-family: cursive;
    text-align: center;
    text-decoration: underline;
}

.container-card{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.container-table{
    color: rgb(93, 126, 141);
    font-family: cursive;
    text-align: center;
}

.video{
    width: 800px; 
    height: 280px; 
    margin: 0 auto; 
    display: block;
}

.card {
    position: relative;
    overflow: hidden;
    background-color: #f8f9fa;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
}
.card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}
.card-img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}
.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card:hover .card-overlay {
    opacity: 1;
}
.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.card-price {
    font-size: 1.20rem;
    color: #111214;
    display: none;
}
.card:hover .card-price {
    display: block;
}